RewriteEngine On
RewriteBase /

# BEGIN Security files
RewriteRule (^|/)\.(env|git|htaccess|svn|ini|log) - [F,L]
RewriteRule (license\.sn|environment|\.conf|composer\.(json|lock))$ - [F,L]
# END Security files

# Set ENV untuk static files
RewriteRule \.(ico|gif|jpe?g|png|webp|avif|bmp|tiff?|jfif|svgz?|eot|ttf|ttc|otf|woff2?|css|js|xml|json)$ - [E=IS_STATIC:1]

#.rewrite.htaccess
#.own.rewrite.htaccess

RewriteCond %{QUERY_STRING} ^(([/]+)?login/?)$
RewriteRule ^(login/?)$ index.php?/users/user/login [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

Options -Indexes
ErrorDocument 403 /index.php?403
ErrorDocument 404 /index.php?404

# BEGIN Cache-Control dan Expires Header
<IfModule mod_headers.c>
    # Apply hanya ke static assets
    Header set Cache-Control "public, max-age=2592000, immutable" env=IS_STATIC
    Header set Access-Control-Allow-Origin "*" env=IS_STATIC
	Header append Vary: Accept-Encoding env=IS_STATIC
</IfModule>
# END Cache-Control dan Expires Header

AddType font/ttf .ttf
AddType font/otf .otf
AddType font/collection .ttc
AddType font/woff .woff
AddType font/woff2 .woff2
AddType application/vnd.ms-fontobject .eot
AddType image/svg+xml .svg .svgz
AddEncoding gzip .svgz

# Apache only
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
    AddOutputFilterByType DEFLATE application/xml application/xhtml+xml application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE font/ttf font/otf font/woff font/woff2
    AddOutputFilterByType DEFLATE image/svg+xml
    # Bug workaround for old browsers
    BrowserMatch ^Mozilla/4 gzip-only-text/html
    BrowserMatch ^Mozilla/4\.0[678] no-gzip
    BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

#.module.htaccess
#.own.module.htaccess
